<h1><%= @place.name %></h1>
<h2>Things what I did</h2>
 <ul>
 <% for post in @place.posts %>
    <h3><%= post.title %></h3>
    <h6><%= post.posted_on %></h6>
    <h4><%= post.description %></h4>
   <% end %>
</ul>

<p>
  <a href="/posts/new?place_id=<%= @place.id %>">New Post</a>
</p>

<p>
  <a href="/places">Go back to all places</a>
</p>